
@{
    ViewBag.Title = "CustomerList";
}

<h2>CustomerList</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Customer Order</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Customer List
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="myDataTable" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Customer Profile</th>
                                        <th>Customer ID</th>
                                        <th>Customer Name</th>
                                        <th>Customer Email</th>
                                        <th>Customer Phone</th>
                                        <th>Customer Country</th>
                                        <th>Order</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bootstrap.min.css"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //GET DATA FROM DATABASE TO FILL DATATABLE  
            var oTable = $("#myDataTable").DataTable({

                "ajax": {
                    "url": "/CustomerInformation/GetCustomers",
                    "type": "GET",
                    "dataType": "json"
                },

                "columns": [
                    {
                        "data": "Image", "render": function (data) {
                            return '<img class="rounded img-thumbnail" style="width:50px; height:50px;" src="/Images/Customers/' + data + '"/>';
                        }
                    },
                    { "data": "ID", "autowidth": true },
                    { "data": "Name", "autowidth": true },
                    { "data": "Email", "autowidth": true },
                    { "data": "Phone", "autowidth": true },
                    { "data": "Country", "autowidth": true },
                    {
                        "data": "ID", "render": function (data) {
                            return '<a href=/Products/ProductList/'+data+' class="btn btn-primary">Order</>'
                        }
                    }                    
                ]
            });
        });
    </script>
    }
